<form action = "/bookings/create" , method = "POST">
<div class="row g-2">
  <div class="col-lg-8">
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="mdo@example.com" name="booking[email]">
      <label for="floatingInputGrid">Email</label>
    </div>
  </div>
  <br>
    <div class="col-lg-8">
    <br>
    <div class="form-floating">
      <input type="text" class="form-control" name="booking[name]">
      <label for="floatingInputGrid">Имя</label>
    </div>
  </div>
  <div class="col-lg-8">
  <br>
    <div class="form-floating">
      <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="booking[room_name]">
      <% @rooms.each do |room|%>

        <option selected><%= room.name%></option>
        <%end%>
      </select>
      <label for="floatingSelectGrid">Номера</label>
    </div>
  </div>
</div>
<br>
  <div class="col-lg-8">
    <label for="inputDate">Введите дату въезда:</label>
    <input type="date" class="form-control" name="booking[date_in]">
  </div>
<br>
    <div class="col-lg-8">
    <label for="inputDate">Введите дату выезда:</label>
    <input type="date" class="form-control" name="booking[date_out]">
  </div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token%>
    <br>
  <button type="submit" class="btn btn-primary">Забронировать</button>
</form>

