
<div class="col d-flex justify-content-center"> 
<div class="card" style="width: 50rem;" >
   <%= image_tag "HotelMain.jpg", height: 600, width: 800 %>
  <div class="card-body">
    <h5 class="card-title">Добро пожаловать</h5>
    <p class="card-text">Гостиница «Гранд-сити», г. Чита
Гостиница «Гранд-сити» расположена в центре города Читы, в нескольких минутах ходьбы от автобусного и железнодорожного вокзала, в непосредственной близости от пересечения маршрутов всех видов городского транспорта.

Из окон открывается великолепный вид на Собор Казанской иконы Божией Матери. Рядом с гостиницей расположены торговые центры, банковские учреждения, офисные и административные здания. 

Администрация гостиницы "Гранд-сити" приглашает посетить кафе "Grand City", находящееся в здании нашей гостиницы.</p>
  </div>
</div>
</div>