        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- Blog post-->
                            <% @rooms_admins.each do |room|%>
                            <div class="card mb-4">
                                <a href="#!"><%= image_tag(room.name+".jpg", :alt => "rss feed",width: "560", heigth: "300") %></a>
                                <div class="card-body">
                                    <div class="small text-muted"><%= room.name%></div>
                                    <h2 class="card-title h4"><%= room.body.length <= 300? room.body : room.body[0..300]%></h2>
                                    <%=  link_to "Посмотреть/Забронировать", "/rooms/" + room.id.to_s, :class=>"button" %>
                                </div>
                            </div>
                            <%end%>
                            <!-- Blog post-->
                        </div>
                    </div>