        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <%= image_tag( @room.name+".jpg", :alt => "rss feed") %>
                        <div class="card-body">
                            <h2 class="card-title"><%= @room.name%></h2>
                            <p class="card-text"><%= @room.body%>
                            <br>
                            <a class="btn btn-primary" href="/bookings/">Забронировать</a>
                        </div>
                    </div>
                        </div>
                    </div>